@charset "utf-8";
body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,h1,h2,h3,h4,h5,h6,fieldset,input,textarea,figure{
	margin:0;
	padding:0;
}
body{
    font-family: "Microsoft Yahei",Helvetica,Arial,STXihei,SimSun,sans-serif;
	/*font-family:"微软雅黑",Arial;*/
	position:relative;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img,button{
	border:none;
	vertical-align: middle;
}
input{
	vertical-align: middle;
}
em,i{
	font-style:normal;
}
h1,h2,h3,h4,h5,h6,b{
	font-weight:100;
}
/*topbar*/
.topbar{
	width:100%;
	height:95px;
	margin-top:32px;
	line-height: 95px;
}
.bigbox{
	width:1090px;
	margin:0 auto;
	height:100%;
}
.content{
	width:100%;
	margin-top:60px;
}
.login{
	
}
.banner{
	float: left;
}
.reg_form{
	float:left;
	width: 420px;
    margin-right: 68px;
    margin-top:-62px;
    box-shadow: 0 0 5px #e1e1e1, 0 0 15px #e1e1e1;
}
.form_inner{
	padding:35px;
	/*margin-bottom:10px;*/
}
.single_tit{
	margin-bottom:10px;
	line-height:22px;
	overflow: hidden;
	color: #5a5d6c;
}
.single_tit h1{
	float:left;
    font-size: 21px;
}
.single_tit p{
	float:right;
	font-size: 12px;
	
}
.single_tit p a{
	color: #ec3e7d;
	margin:0 3px;
}
.signupbox{
	margin-top:40px;
}
.signupbox p{
	margin:0 5px;
	/*display: none;*/
}
.signupbox span{
	line-height: 20px;
    white-space: nowrap;
    font-size: 12px;
    color: #666666;
    vertical-align: middle;
}
.signupbox b{
	font-size: 12px;
    margin-right: 5px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    display: inline-block;
    width:14px;
    height:14px;
    border-radius: 50%;
    background:#db3f7e;
    line-height:14px;
}
.signupbox input{
	width:336px;
	height:24px;
	outline: none;
	border:1px solid #ccc;
	padding:5px;
	vertical-align: baseline;
}
.signupbox input:hover{
	border:1px solid #db3f7e;
	box-shadow: 0px 0px 3px #db3f7e;
}
.signupbox li{
	height:60px;
	font-size: 13px;
	position:relative;
	/*margin-bottom:px;*/
}
.signupbox .yanzheng{
	margin-bottom:4px;
}
.signupbox .yanzheng input{
	width:120px;
}
.signupbox .yanzheng span{
	font-size: 13px;
	cursor: pointer;
}
.signupbox .yanzheng img{
	cursor: pointer;
    width: 80px;
    height: 36px;
    margin:0 5px 2px;
}
.signupbox .qianti{
	margin-top:5px;
	height:34px;
	line-height:34px;
}
.signupbox .qianti span{
	font-size: 13px;
	color:#3e3e3e;
	vertical-align: baseline;
}
.signupbox .qianti input{
	height: 13px;
    width: 20px;
    box-shadow: none;
   vertical-align: middle;
}
.signupbox .qianti span a{
	font-size:14px;
	color:#E93B78;
	vertical-align: baseline;
}
ul li .reg_btn{
	display: block;
	height:40px;
    width: 348px;
    background: #ec3e7d;
    line-height: 32px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top:26px;
    border:none;
}
.dsf{
	padding-top:22px;
}
.dsf p{
	font-size: 14px;;
	color:#444;
	margin-bottom: 3px;
}
.dsf div{
	padding:10px 0;
}
.dsf div a{
	font-size: 12px;;
	color: #3e3e3e;
	margin:0 3px;
	margin-right:19px;
}
.dsf div a img{
	vertical-align: middle;;
	margin-right: 5px;
    height: 35px;
}
.userinfo input{
	background: url(../imgs/q.png) no-repeat left center;
	background-position: 5px -119px;
	padding-left:26px;	
}
.passinfo input{
	background: url(../imgs/q.png) no-repeat left center;
	background-position: 5px -160px;
	padding-left:26px;		
}
