a{
	font-size: 12px;
}
.public{
	width: 100%;
}
.public_header{
	/*overflow: hidden;*/
}
.content{
	height:100%;
	background:#ebebeb;
}
.bigbox{
	width:1200px;
	margin:0 auto;
}
.bread-crumbs{
    height: 20px;
    line-height: 20px;
    padding:15px 0;
    overflow: hidden;
    color: #888888;
}
.bread-crumbs a{
	color: #888888;
	font-size:15px;
	/*line-height: 20px;*/
}
.bread-crumbs a:hover{
	color:#E93B78;
}
.main{
	height:100%;
}
.pro{
	background: #fff;
    margin-bottom: 30px;
    overflow: hidden;
}
.pro_left{
	float: left;
	width:550px;
}
.left_album{
	width: 500px;
    margin: 25px auto;
    position: relative;
}
.pro_right{
	width: 570px;
    float: right;
    padding-top: 25px;
    margin-right: 40px;
}
.pro_tit{
	padding-bottom: 30px;
    line-height: 1.2;
    text-align: left;
    font-size: 22px;
    font-weight: normal;
}
.pro_tit i{
	font-size: 15px;
    color: #fff;
    background: #EC3E7C;
    margin-right: 5px;
    float: left;
    display: inline-block;
    border-radius: 2px;
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    position: relative;
    top: 2px;
    margin-right: 10px;
}
.pro_tit a{
	color: #3e3e3e;
	font-size: 22px;
}
.pro_detail{
	margin-top: 20px;
    clear: both;
    margin-bottom: 10px;
    overflow: hidden;
}
.pro_detail a{
	float: left;
    border: 1px solid #c69a62;
    border-radius: 15px;
    padding: 2px 10px 0;
    margin-right: 8px;
    display: block;
    color: #c69a62;
    font-size: 12px;
    margin-bottom: 5px;
}
.pro_detail:hover a{
	color:#EB4982;
	border: 1px solid #EB4982;
}
.pro_info{
	line-height: 2;
    float: left;
    width: 100%;
    padding-bottom: 40px;
}
.pro_cen{
	position: relative;
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 2;
}
.pro_cen ul li{
	clear: both;
    padding: 5px 0;
}
.pro_cen ul li span{
	height: 24px;
    color: #888888;
    padding-left: 5px;
}
.pro_cen ul li span b{
	color: #ec3e7d;
	font-size: 35px;
    line-height: 1.2;
    font-weight:600;
}
.market_price{
	margin:0 15px;
	color:#888888;
	position:relative;
}
.market_price:after{
	content:"";
	display: block;
	height:1px;
	width:100%;
	background:#959595;
	position:absolute;
	left:0;
	top:10px;
}
.pro_cen ul li span i{
	color: #cb9966;
	font-size:16px ;
}
.pro_act{
	padding: 20px 0;
}
.pro_act div{
	padding-bottom: 5px;
    padding-top: 5px;
    line-height: 22px;
    position:relative;
}
.pro_act div i{
	margin-right: 5px;
	padding: 1px 5px;
    background: #71D2C3;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    padding: 2px 8px;
	float: left;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
	
}
.pro_act div span{
	position: relative;
    word-break: break-all;
    word-wrap: break-word;
    box-sizing: border-box;
    display: block;
    line-height: 22px;
    font-size: 14px;
    color:#3E3E3E;
    /*z-index:100;*/
}
.pro_act div:after{
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.pro_act div span .s{
	position:absolute;
	top:22px;
	left:77px;
	box-sizing: border-box;
	border:1px solid #EB4180;
	font-size: 12px;
	display: none;
	background: #fff;
	z-index:100;
}
.pro_act .zhijiang i{
	background-color:#c69a62;
}
.pro_rul{
	padding: 18px 0 14px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 5px;
}
.pro_rul_ul li{
	font-size: 14px;
    color: #333;
    height:30px;
}
.pro_rul_ul li div{
	/*display: inline-block;*/
    float: left;
    position: relative;
}
.pro_rul_ul li .one{
	color:#888;
	margin-right:10px;
}
.pro_rul_ul li div span{
	position:relative;
}
.pro_rul_ul li div span:after{
	content: "▼";
	color: #999;
    margin-left: 10px;
}
.pro_rul_ul li .span:after{
	content: "▲";
	color: #999;
    margin-left: 10px;
}
.pro_rul_ul li div p{
	display: none;
	position:absolute;
	left:0px;
	top:30px;
	z-index: 100;
	width:350px;
	background:#fff;
	padding:3px 4px;
	border:3px solid #E9E9E9;
}
.pro_rul_ul li div:hover p{
	display: block;
}
.two .icongou:before{
	content: '';
    width: 14px;
    height: 14px;
    padding-top:1px;
    display: inline-block;
    background: url(../imgs/crroect.bmp) center center no-repeat;
    overflow: hidden;
    margin-right: 3px;
    margin-bottom: -2px;
}
.two .icongou:after{
	content: "";
}
.pro_spa{
	margin-top: 20px;
}
.pro_buy{
	padding: 10px 0;
    margin-top: 10px;
}
.p_action{
	font-size:14px;
	color:#888888;
}
.p_action a{
	color: #5b636b;
}
.p_action .pro_num{
	margin-bottom:20px;
	overflow: hidden;
}
.p_action .pro_num span{
	width:74px;
}
.p_action .pro_num b{
	float:left;
	vertical-align: middle;
	color:#222222;
	line-height:21px;
}
.p_action .pro_num span a{
	float:left;
    width: 20px;
    height: 21px;
    line-height:21px;
    vertical-align: middle;
    border: 1px solid #f2f2f2;
    text-align: center;
    font-size: 14px;
    background: #f2f2f1;
    font-weight: bold;
    color: #5b636b;
}
.p_action .pro_num span input{
	float:left;
	width: 30px;
    height: 21px;
    line-height: 21px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    border: 1px solid #f2f2f2;
    text-align: center;
}
.p_action .addcar{
	word-break: break-all;
    word-wrap: break-word;
}
.p_action .addcar a{
	margin-right: 15px;
    width: 220px;
    height: 50px;
    background: #ec3e7d;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    color:#fff;
}
.p_action .addcar .a_saoma{
	border: 1px solid #dedede;
    padding:0 18px;
    color: #999999;
    position:relative;
    color:#999;
    box-sizing: border-box;
    background: #fff;
    line-height:50px;
    font-size: 13px;
}
.addcar .a_saoma img{
	vertical-align: middle;
}
.addcar .a_saoma .ma{
	position:absolute;
	left: 0;
    bottom: 48px;
    display: none;
}
.addcar .a_saoma:hover .ma{
	display: block;
}
.pro_buy .score_line{
	padding-top:25px;
}
.pro_buy .score_line span{
	float: left;
	color:#666;
	font-size:14px;
}
.pro_buy .score_line a{
	color:#666;
	font-size:14px;
}
.pro_buy .score_line .xinxin img{
	/*vertical-align: middle;*/
	padding-bottom:3px;
}
.share{
	margin-top:40px;
	color:#666;
	font-size: 14px;
}
.share a{
	color:#666;
	font-size: 14px;
	vertical-align: middle;
}
.share .share_a1 {
	float:left;
}
.share .share_a1 i{
	font-size: 15px;
	margin-right:5px;
	vertical-align: middle;
}
.share .share_div{
	float: right;
}
.share .share_div a{
	display: inline-block;
	margin:0 3px;
	width:20px;
	height:20px;
	position:relative;
	background: url(../imgs/share.png) no-repeat;
}
.share .share_div .ah_share:after{
	content:"";
	display: inline-block;
	width:20px;
	height:20px;
	background:#999;
	opacity: .5;
	position:absolute;
	left: 0;
	top:0;
	/*display: none;*/
}
.share .share_div .a_share:hover :after{
	display: block;
}
.share_div a:nth-child(1){
	background-position: 0 -100px;
}
.share_div a:nth-child(2){
	background-position: 0 -80px;
}
.share_div a:nth-child(3){
	background-position: 0 -60px;
}
.share_div a:nth-child(4){
	background-position: 0 -40px;
}
.share_div a:nth-child(5){
	background-position: 0 -20px;
}
.share_div a:nth-child(6){
	background-position: 0 0px;
}
.pro_info{
	padding-bottom:40px;
}
.gusslike{
	height:100%;
}
.gusslike h2{
	font-size: 18px;
    line-height: 58px;
    font-weight:600;
}
.gusslike .like_list{
	height:100%;
	margin-bottom:30px;
}
.gusslike .like_list ul{
	/*margin-right:20px;*/
}
.gusslike .like_list ul:after{
	content:"";
	height:0;
	overflow: hidden;
	display: block;
	clear: both;
	visibility: hidden;
}
.gusslike .like_list ul li{
	width: 212px;
    height: 310px;
    padding: 10px 9px 8px 9px;
    border: solid 1px #eee;
    background: #fff;
    margin-right: 10px;
    float: left;
    position:relative;
    
}
.gusslike .like_list ul li:last-child{
	margin-right: 0px;
}
.gusslike .like_list ul li a{
	display: block;
	z-index:100;
}

.gusslike .like_list ul li span{
	display: block;
}
.gusslike .like_list ul li .gus_pro_img{
	width: 212px;
    height: 212px;
    margin-bottom: 10px;	
    margin: 0 auto 8px;
}
.gusslike .like_list ul li .gus_pro_img img{
	transition: all .5s;
}

.gusslike .like_list ul li:hover .gus_pro_img img{
	opacity: .5;
}
.gusslike .like_list ul li .gus_pro_tit{
	padding: 0 6px;
    margin-bottom: 14px;
    font-size: 14px;
    height: 36px;
    line-height: 18px;
    text-align: left;
    color:#000000;
}
.gusslike .like_list ul li .gus_pro_pri{
	padding-left: 15px;
    margin-right: 10px;
    color: #e93b78;
    font-size: 24px;
    position:relative;
}
.gusslike .like_list ul li .gus_pro_pri:before{
	font-size: 13px;
    content: '￥';
    position: absolute;
    font-size: 18px;
    left: 0px;
    top: 2px;
}
.gusslike .like_list ul li .gus_pro_img img{
	max-width: 100%;
    max-height: 100%;
}
.prode{
	height:100%;
} 
.prode:after{
	content:"";
	height:0;
	display: block;
	overflow: hidden;
	clear: both;
	visibility: hidden;
}
.prode_left{
	float: left;
    width: 253px;
    height:100%;
    background: #fff;
} 
.prode_left h3{
	height: 50px;
    line-height: 50px;
    border-left: 5px solid #c69a62;
    border-bottom: 1px solid #ebebeb;
    color: #585c65;
    font-size: 16px;
    padding-left: 12px;
    position: relative;
}  
.prode_each{
	
}
.prode_each ul li{
	height: 69px;
    border-top: 1px dashed #d4d4d4;
    padding: 20px 10px;
    margin-top: -1px;
}
.prode_each ul li .prode_img{
	display: block;
    width: 69px;
    height: 69px;
    overflow: hidden;
    float: left;
    text-align: center;
}
.prode_each ul li .prode_img img{
	width: 69px;
    height: 69px;
}
.prode_each ul li .each_info{
	float: right;
	font-size:14px;
	width:150px;
	margin-top:3px;
}
.prode_each ul li .each_info a{
	display: block;
	word-wrap:break-word ;
	color:#3E3E3E;
	font-size:14px;
}
.prode_each ul li .each_info a .yew{
	font-weight:600;
	color: #ee9c23;
}
.prode_each ul li .each_info p{
	width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ec3e7d;
    font-size:15px;
    margin-top:3px;
}
.prode_each ul li .each_info p span{
	margin-right: 10px;
}
.prode_each ul li .each_info p span:last-child{
	color: #959595;
	font-size: 10px;
}
.prode_right{
	width:920px;
	/*background: #fff;*/
	height:100%;
	float:right;
}
.nav-height{
	height:100%;
	position:relative;
	margin-bottom: 20px;
	background: #fff;
}
.nav-height:after{
	content:"";
	display: block;
	height:0;
	overflow: hidden;
	clear: both;
	visibility: hidden;
}
.nav-height .nav-wrap{
	float:left;
}
.nav-height .nav-wrap ul li{
	float:left;
	font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
}
.nav-wrap .navFix{
	position: fixed;
	top: 0;
	left: 0;  
	box-shadow: 0 0 5px rgba(0,0,0, 0.2);
	border-bottom:1px solid #e3e3e3\9;
	z-index: 99999;
}
.nav-height .nav-wrap ul li b{
	color: #555c67;
    border: 1px solid white;
    display: block;
    padding: 2px 26px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
}
.nav-wrap li .active {
	border-bottom:2px solid #4680d1;
	color: #4680d1;
	}
.nav-height .tag_right{
	float:right;
	width:260px;
	line-height:50px;
	color:#EC3E7D;
	font-size: 24px;
}
.nav-height .tag_right span{
	float: left;
}
.nav-height .tag_right .tag_add{	
	background: #ec3e7d;
    padding: 0px 20px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    float: right;
    margin-left: 15px;
    border-radius: 0;
}
.nav-height .nav_line{
	width:110px;
	height:3px;
	background: #c69a62;
	position:absolute;
	left:0;
	top:48px;
}
.nav-mobile {
	display: none;
	font-weight: bold;
	width: 100%;
}
.nav-wrap .navFix ul{ 
	border-bottom: 0;
	}
.click-me {
	width: 150px;
	height: 30px;
	background: #4680d1;
	color: white; 
	text-align: center;
	line-height: 30px;
 }
.click-me a {
	display: block;
	color: white;
}
.section-content{ 
	height:100%;
	padding-top:20px;
	background:#fff;
	margin-bottom:25px;
}
.section-content .pro_para_tit{
	border-left: 3px solid #db3f7e;
	background: url(../imgs/probt.png) no-repeat 110px 3px;
	line-height: 32px;
    font-weight: 400;
    padding-left: 10px;
    font-size: 21px;
}
#section1 .pro_para_ul{
	padding: 30px 45px;
	font-size: 14px;
	color:#4C4C4C;
}
#section1 .pro_para_ul li{
	overflow: hidden;
    color: #333;
    margin: 12px 0;
}
#section1 .pro_para_ul li span{
    width: 140px;
    color: #666;
    display: inline-block;
    float: left;
    
}
.section-content .pro_para_ul li .att{
    width: 580px;
    float: right;
    text-align: left;
    
}
#section2{
	font-size: 14px;
	color:#666;
	
}
#section2 .pro_para_tit{
	background-position: 110px -46px;;
}
#section2 .pro_de{
	padding:40px 30px;
}
#section2 .pro_de b{
	font-weight: 600;
}
#section2 .pro_de p{
	text-indent: 20px;
	line-height:24px;
}
 #section2 .pro_de p span{
 	white-space: pre;
 	display:inline-block;
 	width:20px;
 }   
 
 #section3{
	font-size: 14px;
	color:#666;
	
}
 #section3 .pro_para_tit{
	background-position: 110px -146px;;
}
 #section3 .comment_list{
 	padding: 10px 10px 10px 10px;
    line-height: 24px;
 }
 table{
 	border-collapse: collapse;
    border-spacing: 0;
 }
.pro_score{
	margin-top:20px;
	width:100%;
	line-height:24px;
}
.pro_score td{
	padding:15px 10px;
	display: inline-block;
}

.koubeipoint {
    font-size: 24px;
    line-height: 40px;
    padding-left: 45px;
    display: inline;
}
.red{
    color: #db3f7e;
}
.koubeipoint b{
	font-weight:600;
	font-size:36px;
}
.pro_score .score_total{
	padding-left: 40px;
}
.pro_score .score_total .values{
	width:150px;
	float:left;
}
.pro_score .score_total .values .stars{
	width:150px;
	position: relative;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom:10px;
    margin-left:40px;
}
.f20{
	line-height:30px;
	
}
.stars .above{
	color:#ddd;
	display: inline-block;
}
.stars .below{
	width:100%;
	position: absolute;
    left: 0;
    color: #c29b60;
    overflow: hidden;
}
.iconfont{
	font-size:22px;
	margin-right: -6px;
}
.pj_num{
	width:100%;
	padding-left: 55px;
    margin-top: -20px;
    font-size: 12px;
    color:#333333;
}
.user{
	width:100%;
	font-size: 14px;
	color:#333;
	overflow: hidden;
	margin-top:50px;
	margin-bottom: 40px;
}
.user_left{
	width: 145px;
    float: left;
    text-align: center;
    margin-left:20px;
    margin-right: 25px;
}
.user_left p{
	font-size: 14px;
	color:#888;
	text-align: center;
	line-height:1.4;
	word-wrap: break-word;
}
.user_left .zhanghao{
	color:#000;
	font-size: 14px;
}
.user_right{
	position: relative;
    width: 575px;
    float:left;
    padding: 20px 24px;
    background-color: #f2f2f2;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.user_right .sanjiao{
	width:0;
	height:0;
	border:10px solid transparent;
	border-right-color: #F2F2F2;
	position: absolute;
	left:-20px;
	top:30px;
}
.user_right .description{
	
}
.user_right .description p{
	color: #575e68;
	font-size: 15px;
}
.user_right .description .pj_words{
	padding-top:15px;
	padding-bottom: 40px;
	box-sizing: border-box;
}
.user_right .description p:last-child{
    font-size: 14px;
    color: #bebebe;
    /*clear: both;*/
    line-height: 40px;
    
}
.user_right .description .des_tit{
	overflow: hidden;
    padding-bottom: 5px;
    border-bottom: 1px solid #ec3e7d;
}
.description .des_tit span{
	display: inline-block;
}
.description .des_tit .tit_l{
	float: left;
    margin-right: 20px;
    color: #ec3e7d;
    font-size: 18px;
    width: 40%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.description .des_tit .xx{
	position:relative;
	width:150px;
}
.description .des_tit .xx .f20{
	position:absolute;
	left: 36px;
	top:-5px;
}
.description .des_tit .xx .f20 i{
	font-size: 16px;
	margin-right: -4px;
}
.description .des_tit .xx .below{
	color:#ddd;
}
.description .des_tit .xx .above{
	color: #c29b60;
}
